.InfoPopup {
    font-size: small;
    position: relative;
    display: inline-block;
    background-color: lightgrey;
}

.InfoText {
    visibility: visible;
    opacity: 1;
    background-color: darkgrey;
    border: 1px solid grey;
    padding: 1px 2px;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.InfoPopup .InfoText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}