.EnvironmentTable {}

.Row {
  outline: darkblue 2px solid;
}

.RowItem {
  outline: lightblue 1px solid;
}

.RowItemCenter {
  text-align: center;
}

.Booked {
  background-color: lightpink;
}

.Locked {
  background-color: lightsalmon;
}

.Unlocked {
  background-color: lightseagreen;
}
