.App {}

.App-header {
  background-color: palevioletred;
  text-align: center;
}

h1 {
  justify-content: center;
  color: white;
}

h3 {
  justify-content: center;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  gap: 1rem;
}

.Booking {

}

.msg-box {
  padding: 1em;
  max-width: 400px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  border: 2px solid darkgreen;
  background: lightgreen;
  color: darkgreen;
}